.microMotor h1, h3, p, ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal; }

.microMotor {
  background: #fff; }

.microMotor .microMotor_head {
  padding: 40px 0;
  border-bottom: 1px solid #ddd; }

.microMotor .microMotor_head .microMotor_headLeft h1 {
  font-size: 24px;
  color: #444444;
  padding-bottom: 24px; }

.microMotor .microMotor_head .microMotor_headLeft h3 {
  font-size: 18px;
  color: #333; }

.microMotor .microMotor_head .microMotor_headRight ul li {
  float: left;
  padding-right: 20px;
  display: flex;
  align-items: flex-end;
  color: #f83b35; }

.microMotor .microMotor_head .microMotor_headRight ul li span {
  padding-left: 5px; }

.microMotor .microMotor_head .microMotor_headRight p {
  padding: 18px 0; }

.microMotor_banner {
  padding-top: 40px; }

.microMotor_banner .microMotor_bannerRight h3 {
  font-size: 24px;
  color: #222222;
  padding: 38px 0 30px; }

.microMotor_banner .microMotor_bannerRight {
  position: relative; }

.microMotor_banner .microMotor_bannerRight .position {
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #f83b35;
  color: #fff;
  border-top-left-radius: 2000px;
  border-bottom-left-radius: 2000px;
  padding: 0 10px 0 15px;
  cursor: pointer; }

.microMotor_banner .microMotor_bannerRight ol li {
  margin-bottom: 30px; }

.microMotor_banner .microMotor_bannerRight ol li label {
  font-size: 18px;
  color: #222222;
  font-weight: normal; }

.microMotor_banner .microMotor_bannerRight ol li .money {
  font-size: 39px;
  color: #f83b35; }

.microMotor_banner .microMotor_bannerRight ol li .logistics {
  font-size: 19px;
  color: #f83b35;
  font-weight: bold; }

.microMotor_banner .microMotor_bannerRight ol li .maxNumber {
  font-size: 18px;
  color: #f83b35; }

.microMotor_banner .microMotor_bannerRight ol li span {
  font-size: 18px;
  color: #222; }

.microMotor_banner .microMotor_bannerRight ol li a {
  padding: 6px 4px;
  border: 1px solid #f83b35;
  text-decoration: none;
  color: #f83b35; }

.microMotor_banner .microMotor_bannerRight ol li a:nth-child(3) {
  background: #fcdcdb; }

.microMotor_product .microMotor_productH1 {
  width: 100%;
  padding: 15px 0;
  color: #222222;
  font-size: 18px; }

.microMotor_product .microMotor_productH1 i {
  display: inline-block;
  padding: 2px 8px;
  background: #f83b35;
  position: relative;
  bottom: 3px; }

.microMotor_product .microMotor_productH1 a {
  color: #f83b35;
  font-size: 18px; }

.microMotor_product .microMotor_productList ul {
  text-align: center; }

.microMotor_product .microMotor_productList ul li {
  padding: 5px 0;
  color: #333333;
  font-size: 17px; }

.microMotor_product .microMotor_productList ul li:nth-child(4) {
  color: #777; }

.microMotor_product .microMotor_productList ul li span {
  color: #f83b35; }

.microMotor_product .microMotor_productList ul a {
  display: inline-block; }

.microMotor_product .microMotor_productList ul .abt a {
  padding: 4px 6px;
  border: 1px solid #f83b35;
  text-decoration: none;
  display: inline-block;
  color: #f83b35;
  font-size: 18px; }

.microMotor_detailed {
  background: #f4f5f9;
  padding: 40px 0;
  text-align: center;
  margin-top: 30px; }

.microMotor_detailed h1 {
  font-size: 27px;
  color: #222222;
  padding-bottom: 30px; }

.microMotor_detailed .microMotor_detailedAbt {
  padding-top: 30px; }

.microMotor_detailed .microMotor_detailedAbt a {
  border: 1px solid #f83b35;
  display: inline-block;
  color: #f83b35;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 20px;
  margin: 0 15px; }

.microMotor_detailed .microMotor_detailedAbt a:nth-child(2) {
  background: #f83b35;
  color: #fff; }

.microMotor_why {
  padding: 40px 0 80px; }

.microMotor_why h1 {
  font-weight: normal;
  font-size: 40px;
  color: #f83b35;
  text-align: center; }

.microMotor_why h3 {
  font-size: 24px;
  color: #222;
  text-align: center;
  padding-top: 20px; }

.microMotor_why .microMotor_whyImg {
  padding-top: 30px; }

.microMotor_why .microMotor_whyDl {
  padding-top: 50px; }

.microMotor_why dl {
  padding-bottom: 15px; }

.microMotor_why dl dt {
  font-size: 26px;
  color: #222222;
  font-weight: normal; }

.microMotor_why dl dt i {
  font-size: 40px;
  color: #f83b35;
  font-family: Impact; }

.microMotor_why dl dd {
  font-size: 20px;
  color: #222222;
  padding-top: 15px; }

.microMotor_why .microMotor_whyAbt a {
  border: 1px solid #f83b35;
  display: inline-block;
  color: #f83b35;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 20px;
  margin: 0 15px; }

.microMotor_why .microMotor_whyAbt a:nth-child(1) {
  background: #f83b35;
  color: #fff; }

.microMotor_Manufactor {
  position: relative;
  padding-top: 50px;
  text-align: center; }

.microMotor_Manufactor .position {
  width: 100%;
  height: 300px;
  background: #f4f5f9;
  position: absolute;
  top: 0;
  left: 0; }

.microMotor_Manufactor h1 {
  font-size: 30px;
  color: #222222;
  position: relative;
  z-index: 2; }

.microMotor_Manufactor h3 {
  font-size: 18px;
  color: #333333;
  padding: 25px 0;
  position: relative;
  z-index: 2; }

.microMotor_Manufactor .microMotor_ManufactorList {
  padding-top: 50px; }

.microMotor_Manufactor .microMotor_ManufactorList .microMotor_ManufactorListBox {
  background: #fff;
  width: 300px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 20px 20px;
  box-shadow: 0 0 10px 3px #eee;
  position: relative;
  padding-top: 30px; }

.microMotor_Manufactor .microMotor_ManufactorList .microMotor_ManufactorListBox .number {
  position: absolute;
  width: 63px;
  height: 63px;
  background: #f83b35;
  color: #fff;
  margin: auto;
  left: 0;
  right: 0;
  top: -30px;
  font-size: 28px;
  font-weight: bold;
  line-height: 63px;
  display: block; }

.microMotor_Manufactor .microMotor_ManufactorList .microMotor_ManufactorListBox ul {
  padding-top: 20px;
  text-align: left; }

.microMotor_Manufactor .microMotor_ManufactorList .microMotor_ManufactorListBox ul h4 {
  font-size: 28px;
  color: #f83b35;
  font-weight: bold;
  text-align: center; }

.microMotor_Manufactor .microMotor_ManufactorList .microMotor_ManufactorListBox ul p {
  font-size: 20px;
  color: #222222;
  padding-bottom: 20px;
  text-align: center; }

.microMotor_Customer {
  padding: 50px 0; }

.microMotor_Customer h1 {
  font-size: 26px;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0; }

.microMotor_Customer h1 span {
  display: inline-block;
  padding: 2px 10px;
  background: #f83b35;
  margin: 0 15px; }

.microMotor_Customer .microMotor_CustomerImg {
  text-align: center; }

.microMotor_Customer .microMotor_CustomerImg ul {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center; }

.microMotor_Customer .microMotor_CustomerImg li {
  width: 180px;
  height: 80px;
  overflow: hidden; }

.microMotor_Customer .microMotor_CustomerImg a {
  display: inline-block; }

.microMotor_Customer .microMotor_CustomerImg a img {
  width: 100%; }

.microMotor_Customer .microMotor_CustomerAbt {
  text-align: center;
  padding-top: 30px; }

.microMotor_Customer .microMotor_CustomerAbt a {
  border: 1px solid #f83b35;
  display: inline-block;
  color: #f83b35;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 20px;
  margin: 0 15px; }

.microMotor_Customer .microMotor_CustomerAbt a:nth-child(1) {
  background: #f83b35;
  color: #fff; }

.microMotor_txt {
  padding: 35px 0;
  text-align: center;
  background: #f4f5f9; }

.microMotor_txt h3 {
  font-size: 30px;
  color: #222222;
  font-weight: normal; }

.microMotor_txt p {
  font-size: 18px;
  color: #333333;
  padding: 15px 0; }

.microMotor_foot {
  padding: 60px 0 50px; }

.microMotor_foot .microMotor_footList {
  width: 370px; }

.microMotor_foot .microMotor_footList ul {
  width: 250px;
  margin-bottom: 40px; }

.microMotor_foot .microMotor_footList .number {
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
  font-size: 38px;
  color: #ffffff;
  background: #f83b35;
  box-shadow: 0 0 0px 5px #fed8d7;
  margin-right: 15px; }

.microMotor_foot .microMotor_footList ul h3 {
  font-size: 20px;
  color: #555555;
  padding-bottom: 10px; }

.microMotor_foot .microMotor_footList ul li {
  font-size: 16px;
  color: #555555; }

.microMotor_footBox {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }

.microMotor_foot .microMotor_footAbt {
  text-align: center;
  padding: 30px 0; }

.microMotor_foot .microMotor_footAbt a {
  border: 1px solid #f83b35;
  display: inline-block;
  color: #f83b35;
  text-decoration: none;
  padding: 4px 6px;
  font-size: 20px;
  margin: 0 15px;
  background: #f83b35;
  color: #fff; }

.tb-btn {
  display: none; }

@media (max-width: 768px) {
  .microMotor_head {
    text-align: center;
    display: none; }

  .microMotor .microMotor_head .microMotor_headLeft h3 {
    line-height: 23px; }

  .microMotor .microMotor_head .microMotor_headRight p {
    padding: 0; }

  .microMotor .microMotor_head .microMotor_headRight ul li {
    padding-right: 10px; }

  .microMotor_detailed {
    width: 100%;
    overflow-x: hidden; }

  .microMotor_detailed .microMotor_detailedAbt a {
    font-size: 16px; }

  .microMotor_why .microMotor_whyImg img {
    width: 100%; }

  .microMotor_why .microMotor_whyAbt a {
    font-size: 16px; }

  .microMotor_Manufactor h3 {
    line-height: 28px; }

  .microMotor_Manufactor .microMotor_ManufactorList .microMotor_ManufactorListBox {
    margin-bottom: 40px;
    width: 100%; }

  .microMotor_Manufactor .microMotor_ManufactorList .microMotor_ManufactorListBox .number {
    position: static; }

  .microMotor_Customer .microMotor_CustomerImg a {
    display: inline-block;
    width: auto;
    height: auto; }

  .microMotor_Customer .microMotor_CustomerImg ul {
    display: block; }

  .microMotor_footBox {
    padding: 5px; }

  .microMotor_foot .microMotor_footList .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    margin-right: 15px; }

  .microMotor_Customer .microMotor_CustomerAbt a {
    font-size: 16px; }

  .microMotor_footBox {
    display: block; } }

/*# sourceMappingURL=index.css.map */
